# dependencies
/node_modules

# production / build
/build
/terminal/dist
target/
/www/public/install

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
bun-debug.log*

# env
.env*

# typescript
*.tsbuildinfo
.vercel
.env.local
